@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$font: 'Open Sans', sans-serif;
.custom-element {
  font-family: $font;
  font-size: 14px;
}
@import "../node_modules/bootstrap/scss/bootstrap";
